body {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.big-heading{
    font-family: 'Aboreto', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

.small-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
}

p{
    color: #40514E;
    line-height: 2;
}

.container-fluid{
    padding: 7% 15%;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}


/* Sections Background */

.coloured-section{
    background-color: #EAF6F6;
}

.white-section{
    background-color: white;
}


/* Title Section */

#title .container-fluid{
    padding: 3% 15% 0;
}

.pro{
    text-decoration: underline;
}

.mountain{
    width: 60%;

}


/* Profile Section */

#profile{
    padding: 7% 15%;
}

.description{
    padding: 3% 25%;
}

.pp{
    width: 170px;
    height: 170px;
    background-image: url("/Users/alice/Desktop/Web Development/CSS-My Site copy/images/CSS - My Site Images/profilepic.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 45% 55% 70% 28% / 45% 40% 55% 48%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.25);
    animation: bold 2s linear infinite;
    margin-bottom: 3%;
}

@keyframes bold{
    0%, 100%{
        border-radius: 45% 55% 70% 28% / 45% 40% 55% 48%;
    }
    40%{
        border-radius: 45% 30% 35% 48% / 28% 20% 70% 70%;
    }
    80%{
        border-radius: 100% 50% 50% 100%/ 100% 100% 50% 50%;
    }
}


/* Skills Section */

.skills-box{
    text-align: left;
    line-height: 2;
    padding-bottom: 5%;
}

.skills-box-2{
    text-align: left;
    line-height: 2;
    padding: 1% 10% 0 0;
}

.row{
    padding-top: 5%;
}

img.logo{
    width: 40%;
    text-align: right;
    display: block;
    margin: 0 auto;
}

.content-title{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 120%;
    padding: 3% 0;
}

.table-border{
    background-color: white;
    width: 100%;
    border-radius: 3%;
    padding: 7% 0;
}


/* Contact Section */

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-decoration: none;
}

.btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}


.link{
    text-decoration: none;
    color: red;
}


/* Footer Section */

#footer{
    padding: 0 10%;
}


.footer-link{
    color: black;
    margin: 20px 10px;
    font-size: 1rem;
}

.footer-text{
    font-size: 0.75rem;
    padding: 5% 0;
}


/* Media */

@media (max-width: 1028px){
    .big-heading{
        font-size: 3.5rem;
    }

    .small-heading{
        font-size: 1.5rem;
    }

    .mountain{
        width: 80%;
    }

    .pp{
        padding-top: 5%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        animation: none;
        object-fit: cover;
    }

    .description{
        padding: 3% 15%;
        font-size: 0.75rem;
    }

    .skills-box-2{
        text-align: center;
        padding: 0 5%;
    }

    .skills-box{
        padding: 5% 0;
    }

    img.logo{
        width: 20%;
    }

    .content-title{
        font-size: 100%;
    }

    .btn{
        margin-top: 3%;
        font-size: 0.75rem;
    }

    .footer-text{
        font-size: 0.65rem;
    }
}


/****** Project HTML ******/
/* Title Section */

#project-title .container-fluid{
    padding: 3% 15% 0;
}

#project-title .big-heading{
    font-size: 3.5rem;
}

#project-title .mountain{
    width: 45%;
}


/* Pencil Section */

.pencil-logo{
    width: 6%;
    margin: 0 auto 5% auto;
}


/* Space Projects Section */

.space-website{
    text-decoration: none;
    color: #66BFBF;
}

.space-website:hover{
    color: black;
}

.project-small-heading{
    color: #66BFBF;
}

.space-image{
   width: 70%;
   padding: 5% 0;
}


/* Pomodoro Project Section */

.pomodoro-image{
   width: 50%;
   padding: 5% 0;
}


@media (max-width: 1028px){
    #project-title .big-heading{
        font-size: 2.5rem;
    }

    #project-title .mountain{
        width: 80%;
    }

    .des{
        padding: 3% 15%;
        font-size: 0.75rem;
    }

    .pencil-logo{
        width: 14%;
        margin: 7% auto 7% auto;
    }

    .project-small-heading{
        font-size: 1rem;
        color: #66BFBF;
    }


}
